@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: "Karla", sans-serif;
}
.app {
  min-height: 100vh;
  padding-bottom: 96px;
  position: relative;
}

.panel-list li {
  transition: all ease-in-out 50ms;
}
.panel-list li:hover {
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: inherit !important;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-nav-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #6ee7b7;
  transition: all 0.3s ease-in-out;
}
.navbar-nav-link:hover::after {
  width: 100%;
}
footer {
  grid-area: footer;
  /* margin-bottom: 0;
  /* position: fixed; */
  /* bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;  */
  position: absolute;
  bottom: 0;
  width: 100%;
}
main {
  grid-area: main;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: min-content;
  /* min-height: 100%; */
}

/*--------------- SearchBar -----------------*/

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(110 231 183 / 25%);
  border-color: #34d399;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #374151);
}

.search > div:after {
  content: "";
  background: #374151;
  width: 2px;
  height: 6px;
  position: absolute;
  top: 20px;
  right: 0px;
  transform: rotate(135deg);
}

.search > div > input {
  font-size: 10px;
  background: transparent;
  width: 18px;
  height: 18px;
  padding: 8px;
  border: solid 1px #374151;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #374151;
  font-family: "Karla", sans-serif;
  font-weight: 200;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
  background-color: white;
}

/* --------------------------------------------------------------- */

/*--------------------- Homepage -------------------------*/

.hero {
  background-image: url("https://res.cloudinary.com/dilv93gvb/image/upload/v1616830135/kaayo/products/Monica_orcpk1.png");
  background-size: cover;
  /* height: someheight; */
  background-position: center;
}

.section-soap {
  background-image: url("https://res.cloudinary.com/dilv93gvb/image/upload/v1616392512/kaayo/149350938_4074355699250002_15075270272031983_n_x1hy6b.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
}
.section-butter {
  background-image: url("https://res.cloudinary.com/dilv93gvb/image/upload/v1616392508/kaayo/140021235_252289502934028_9018083373780229419_n_hiqxfa.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
}
.section-lip {
  background-image: url("https://res.cloudinary.com/dilv93gvb/image/upload/v1616392508/kaayo/139803208_408669853568139_8758991502514270125_n_tvadcv.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
}
.section-shampoo {
  background-image: url("https://res.cloudinary.com/dilv93gvb/image/upload/v1616392507/kaayo/131320766_145440737332983_292046707415353122_n_jzcvpu.jpg");
  height: 400px;
  background-size: cover;
  text-shadow: 2px 2px #80a97d;

  background-position: center;
}

/* --------------------------------------------------------------- */

/*--------------------- Sign Form -------------------------*/

.fb-button {
  background-color: #1877f2;
}
.fb-button i {
  margin-right: 4px;
}
.google-button {
  box-shadow: none !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}
.google-button span {
  padding: 0.25rem 0.75rem !important;
}
/* --------------------------------------------------------------- */

.category-label label {
  margin-right: 0.5rem;
}
.category-label input {
  margin-right: 0.25rem;
}

/*--------------------- Product Card -------------------------*/
.product-card {
  height: 298px;
}
/* .product-card .card-overlay {
  display: none;
}
.product-card:hover .card-overlay {
  display: flex;
}*/
.product-card-img {
  transition: all ease-in-out 500ms;
}
.product-card-img:hover {
  border-radius: 30%;
}

.breadcrumb-item {
  background-color: transparent !important;
  display: flex;
  height: 48px;
  align-items: center;
  width: fit-content;
}

.carousel-root > * {
  height: 700px;
}
.carousel {
  height: 100%;
}
.slide img {
  object-fit: cover;
  /* width: 100%; */
}
.dot {
  border: 1px #80a97d solid !important;
  box-shadow: none !important;
}
.dot.selected {
  background-color: #34d399 !important;

  outline: none !important;
}
.dot:focus {
  outline: none !important;
}
.carousel-status {
  display: none !important;
}
.carousel.carousel-slider .control-arrow:hover {
  background: #80a97d !important;
  opacity: 30% !important;
}
.carousel .slide .legend-custom {
  transition: all 0.5s ease-in-out;
  position: absolute;
  /* bottom: 40px; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 90%;
  /* font-weight: bold; */
  border-radius: 10px;
  /* background: #000; */
  padding: 10px;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  transition: opacity 0.35s ease-in-out;
}

.hero-panel-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 3rem;
  margin: 10px auto;
  background-color: white;
}

.breadcrumb-item .active {
  color: inherit;
}
.breadcrumb-item .active:last-child {
  color: #80a97d;
}

/* PAgination */

.pagination {
  /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05); */
  margin: 10px auto;
  padding: 0.5rem 2rem;
  width: fit-content;
  align-items: center;
  border-radius: 20px;
  padding: 8px 0 16px 0;
}

.pagination .active {
  background-color: #dee5c5;
  padding: 0.5rem;
  color: #374151;
  border-radius: 10px;
  margin: 0 0.2rem;
}

.pagination > li {
  padding: 0.5rem;
}
a {
  outline: none;
}
.pagination > li:hover {
  background-color: #dee5c5;
  color: #374151;
  border-radius: 10px;
}

.previous,
.next {
  background-color: #dee5c5;
  border-radius: 50%;
  padding: 0px;
  width: 37px;
  height: 37px;
  color: #374151;
  text-align: center;
}
.previous {
  margin-right: 3px;
}
li .next {
  margin-left: 6px;
  padding: 10px;
}

.previous > a {
  padding: 0;
  width: 19px;
}

.add-cart-button {
  background-image: linear-gradient(to right, rgb(16, 185, 129) 50%, white 0);
  background-position: right;
  background-size: 200% 200%;
  transition: 250ms;
}

.add-cart-button:hover {
  background-position: left;
}

@media only screen and (min-width: 768px) {
  .carousel .slide .legend-custom {
    font-size: 4rem;
    line-height: 4rem;
  }
}
